Descriptive Statistics

https://rcompanion.org/handbook/C_02.html

In [ ]:
Define data using inline text

In [7]:
Input = ("
Instructor  Location  Attendees
Ren         North      7
Ren         North     22
Ren         North      6
Ren         North     15
Ren         South     12
Ren         South     13
Ren         South     14
Ren         South     16
Stimpy      North     18
Stimpy      North     17
Stimpy      North     15
Stimpy      North      9
Stimpy      South     15
Stimpy      South     11
Stimpy      South     19
Stimpy      South     23
")

Read data into a data frame

In [8]:
Data = read.table(textConnection(Input),header=TRUE)

In [6]:
print(Input)

[1] "\nStudent  Sex     Teacher  Steps  Rating\na        female  Catbus    8000   7\nb        female  Catbus    9000  10\nc        female  Catbus   10000   9\nd        female  Catbus    7000   5\ne        female  Catbus    6000   4\nf        female  Catbus    8000   8\ng        male    Catbus    7000   6\nh        male    Catbus    5000   5\ni        male    Catbus    9000  10\nj        male    Catbus    7000   8\nk        female  Satsuki   8000   7\nl        female  Satsuki   9000   8\nm        female  Satsuki   9000   8\nn        female  Satsuki   8000   9\no        male    Satsuki   6000   5\np        male    Satsuki   8000   9\nq        male    Satsuki   7000   6\nr        female  Totoro   10000  10\ns        female  Totoro    9000  10\nt        female  Totoro    8000   8\nu        female  Totoro    8000   7\nv        female  Totoro    6000   7\nw        male    Totoro    6000   8\nx        male    Totoro    8000  10\ny        male    Totoro    7000   7\nz        male    Totoro    7000   7\n"

Will output data frame called Data

In [9]:
Data

   Instructor Location Attendees
1  Ren        North     7
2  Ren        North    22
3  Ren        North     6
4  Ren        North    15
5  Ren        South    12
6  Ren        South    13
7  Ren        South    14
8  Ren        South    16
9  Stimpy     North    18
10 Stimpy     North    17
11 Stimpy     North    15
12 Stimpy     North     9
13 Stimpy     South    15
14 Stimpy     South    11
15 Stimpy     South    19
16 Stimpy     South    23

Shows the structure of the data frame

In [10]:
str(Data)

'data.frame':	16 obs. of  3 variables:
 $ Instructor: Factor w/ 2 levels "Ren","Stimpy": 1 1 1 1 1 1 1 1 2 2 ...
 $ Location  : Factor w/ 2 levels "North","South": 1 1 1 1 2 2 2 2 1 1 ...
 $ Attendees : int  7 22 6 15 12 13 14 16 18 17 ...

Summarizes variables in the data frame

In [11]:
summary(Data)

  Instructor  Location   Attendees
 Ren   :8    North:8   Min.   : 6.00
 Stimpy:8    South:8   1st Qu.:11.75
                       Median :15.00
                       Mean   :14.50
                       3rd Qu.:17.25
                       Max.   :23.00

The sum of a variable can be found with the sum function

In [12]:
sum(Data$Attendees)

[1] 232

The number of observations can be found with the length function

In [13]:
length(Data$Attendees)

[1] 16

<u>Mean</u>

The mean is the arithmetic average, and is a common statistic used with interval/ratio data.  It is simply the sum of the values divided by the number of values.

In [16]:
# compute the mean manually
sum(Data$Attendees) / length(Data$Attendees)

# compute the mean using built-in function
mean(Data$Attendees)

[1] 14.5

[1] 14.5

Watch out for skewed data when reporting mean values

In [17]:
Income = c(49000, 44000, 25000, 18000, 32000, 47000, 37000, 45000, 36000, 2000000)
mean(Income)

[1] 233300

<u>Median</u>

The <b>median</b> is defined as the value below which are 50% of the observations.

In [18]:
median(Data$Attendees)

[1] 15

In [19]:
median(Income)

[1] 40500

<u>Mode</u>

The <b>mode</b> is simply the value which occurs most frequently. 

The <i>Mode</i> function can be found in the package <i>DescTools</i>.

In [22]:
library(DescTools)
Mode(Data$Attendees)

[1] 15
attr(,"freq")
[1] 3